{% extends 'base.html' %}

{% block content %}

    <form method="post">
      <h3><center> LOGIN</center> </h3>
    {% csrf_token %}
        {% for field in login_form %}

            {{ field.label_tag }}
            {{ field }}

            {% if field.help_text %}
                <small style="color:grey;" >{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color:red;">{{ error }}</p>
            {% endfor %}
            {% if login_form.non_field_errors %}
                <div style="color:red;">
                    <p>{{ login_form.non_field_errors }}</p>
                </div>
            {% endif %}

        {% endfor %}
  <div class="container" align="center" >
    <br>
    <button type="submit" id ="login" class="waves-effect waves-light btn">Login</button>
    <br><br>
      <i>NEW USER?</i>&nbsp&nbsp&nbsp<a href="{% url 'bikeshare:signup' %}">REGISTER</a>

  </div>
    </form>






{% endblock %}