<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container" align = "center">
        <h2>Station Profit Contibution</h2>
        <img src="data:image/png;base64, {{ station_profit }}" alt = "Profit per Station - - Pie Chart : Unavailable">
    </div>
    <div class="container" align = "center">
        <h2>Route Frequency Distribution</h2>
        <img src="data:image/png;base64, {{ route_frequency }}" alt = "Route Frequencies - Horizontal bar graph : Unavailable">
    </div>
    <div class="container" align = "center">
        <h2>Station Bike Count</h2>
        <img src="data:image/png;base64, {{ station_bike_count }}" alt = "Station Bike Count - Bar Graph : Unavailable">
    </div>
    <div class = "container" align = "center"></div>
        <h2>Star Users</h2>
        {% if book_list %}
            <ul>
                {% for user in star_users %}
                    <li>
                        {{ user.user }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>Star Users : Unavailable</h1>
        {% endif %}
    </div>
</body>
</html>