<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

    {% if request.user.is_authenticated  %}
            <p>Hello, {{ request.user.username }} | <a href="{% url 'bikeshare:logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'bikeshare:login' %}">Login |</a><a href="{% url 'bikeshare:signup' %}"> Register</a></p>
    {% endif %}

<body>

<div class="container">
{% block content %}


{% endblock content %}

</div>

</body>
