

{% block content %}

    <!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcO7TBAhqCQGkzRxioL1Ntt7i66SeOBig&callback=initMap"
                type="text/javascript"></script>
    </head>
    <body>

    <div class="container" margin-left="0px">

        <div id="map" height="30"></div>
        <script>
            var map;

            function addPopup(marker, content) {
                var infowindow = new google.maps.InfoWindow({
                    content: content
                });

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
            }

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 55.8642, lng: -4.2518},
                    zoom: 13
                });

                var stations = {{all_stations_map|safe}}
                    console.log(stations)

                var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

                var i;
                for (i = 0; i < stations.length; i++) {
                    var marker1 = new google.maps.Marker({
                        position: {lat: stations[i].fields.station_latitude, lng: stations[i].fields.station_longitude},
                        map: map,
                        title: stations[i].fields.station_name,
                        icon: image
                    });


                    var contentString = "<div>" +
                        "<p>Station: <strong>" + stations[i].fields.station_name + "</strong></p>" +
                        "</div>"

                    addPopup(marker1, contentString)
                }


                // station Name

                document.getElementById('map').style.height = 450
                //document.getElementById('map').style.width = 800

            }
        </script>

    </div></body>

{% endblock %}