<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% extends 'base.html' %}

{% block content %}
<body>

<div style="position:center">
<p>
    <br>
     <h1> &nbsp; &nbsp; Glasgow's Bike Share System  <i class="material-icons" style="font-size: 50px">directions_bike</i> </h1>

<img class="big"  src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1571963949237&di=94ec4552c5b43a72f4822f36641c7ae0&imgtype=0&src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fq_70%2Cc_zoom%2Cw_640%2Fimages%2F20180307%2F850401ae2caa458d899f466d985a75d5.jpeg" width="100%" height="365px" />
</p>
</div>


</body>

{% endblock %}