{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<div class="container">
<h3><center>HOME</center> </h3>
<table>
  <thead>
    <tr>
      <th>Station Name</th>
      <th>Available Cycles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <label>
          <input name="station1" type="radio"/>
          <span>Partick</span>
        </label>
      </td>
      <td>
        no.of Cycles
      </td>
    </tr>
    <tr>
      <td>
        <label>
          <input name="station2" type="radio" />
          <span>Kelvingrove Park</span>
        </label>
      </td>
      <td>
        no.of Cycles
      </td>
    </tr>
    <tr>
      <td>
        <label>
          <input name="station3" type="radio"  />
          <span>Charing Cross</span>
        </label>
      </td>
      <td>
        no.of Cycles
      </td>
    </tr>
  </tbody>
  </table>
  </div>
  <div class="container" align="center" >
    <br>
  <button type="submit" id="rent" class="waves-effect waves-light btn" onclick="location.href='renting.html';">RENT</button>
  </div>
</html>

{% endblock %}
