<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% extends 'base.html' %}

{% block content %}

    <div class="divider"></div>
  <div class="section">

    <br>

    <h4><i class="material-icons" style="font-size: 30px">directions_bike</i> Renting a Bike</h4>
    <p>You can hire a bike from any location in from any location at a rate of £- an hour, and £- per full day.
        Select a bike from one of our stations to begin your rental.</p><p>
    Note: You may hire up for 4 bikes at any one time, and you must not have outstanding charges exceeding £30 to hire a new bike.</p>

    <br>
</div>
      <div class="section">

    <h4><i class="material-icons" style="font-size: 30px">directions_bike</i> Returning a Bike</h4>
    <p>When you are finished using your hired bike, just select the location you would like to return it to and your rental price will be calulated.</p>
    <p>Note: You will be charged £15 to repair any damaged bikes that you return. </p>

    <br>
      </div>
    <div class="section">
    <h4><i class="material-icons" style="font-size: 30px">attach_money</i> Paying for a Bike</h4>
    <p>You can top up your wallet with any amount up to £100 at a time using your card details.
    You can use this to pay for your bike rental, which is calculated when you are finished with your hire. </p>
</div>

    <div class="section">

    <h4><i class="material-icons" style="font-size: 30px">add_location</i> Our Locations</h4>

    <p>We have {{ locations.count }} stations around Glasgow where you can hire and return bikes. </p>

    {% for location in locations %}

        <li><p>{{ location }}</p></li>

    {% endfor %}
</div>



{% endblock %}