{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container" align = "center">
        <h3>Station Profit Contibution</h3>
        <img src="data:image/png;base64, {{ station_profit }}" alt = "Profit per Station - - Pie Chart : Unavailable">
    </div>
    <div class="container" align = "center">
        <h3>Route Frequency Distribution</h3>
        <img src="data:image/png;base64, {{ route_frequency }}" alt = "Route Frequencies - Horizontal bar graph : Unavailable">
    </div>
    <div class="container" align = "center">
        <h3>Station Bike Count</h3>
        <img src="data:image/png;base64, {{ station_bike_count }}" alt = "Station Bike Count - Bar Graph : Unavailable">
    </div>
    <div class = "container" align = "center"></div>
        <h3>Star Users</h3>
        {% if book_list %}
            <ul>
                {% for user in star_users %}
                    <li>
                        {{ user.user }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h5>Star Users : Unavailable</h5>
        {% endif %}
    </div>
</body>
{% endblock %}