{% extends 'base.html' %}

{% block content %}
<body>

    <div class="container" align = "center">
        {% if total_Profit > 0.0 %}
            <h3>Station Profit Contibution</h3>
            <img src="data:image/png;base64, {{ station_profit }}" alt = "Profit per Station - Pie Chart : Unavailable">
        {% else %}
            <h4>Business in Loss : £ {{ total_Profit}}</h4>
        {% endif %}
    </div>
    <div class="container" align = "center">
        <h3>Route Frequency Distribution</h3>
        <img src="data:image/png;base64, {{ route_frequency }}" alt = "Route Frequencies - Horizontal bar graph : Unavailable">
    </div>
    <div class="container" align = "center">
        <h3>Station Bike Count</h3>
        <img src="data:image/png;base64, {{ station_bike_count }}" alt = "Station Bike Count - Bar Graph : Unavailable">
    </div>
    <div class = "container" align = "center">
        <h3>Star Users</h3>
        {% if star_users %}
            <table>
                <tr align="center">
                    <th align = "center"><font color="#4B0082">USER</font></th>
                    <th align = "center"><font color="#4B0082">Number of Rides</font></th>
                </tr>
                {% for user in star_users %}
                    <tr>
                        <td>{{ user.user__username }}</td>
                        <td>{{ user.usages }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h5>Star Users : Unavailable</h5>
        {% endif %}
    </div>
</body>
{% endblock %}
