
{% block content %}


    <h4>
        <center>Move Bike</center>
    </h4>
    <h6>
        <center>Bike ID: {{ bike.id }}</center>
    </h6>
    <h6>
        <center>Condition: {{ bike.condition }}</center>
    </h6>
    <h6>
        <center>Current Location: {{ bike.station }}</center>
    </h6>

    <div class="container" align="center">

        <form method="post" action="{% url 'bikeshare:move_bike' bike.id %}" enctype="multipart/form-data">
            {% csrf_token %}
               {{ form }}
            <button type="submit" class="waves-effect waves-light btn">Confirm</button>        </form>

            <button id="cancel" class="cancelbtn waves-effect waves-light btn"
                onclick="location.href='{% url 'bikeshare:bikeshare-operator' %}'">Return
        </button>

    </div>


{% endblock %}