{% extends 'base.html' %}

{% block content %}


<form method="post" action="{% url 'bikeshare:pay-balance-submit' %}">
{% csrf_token %}

  <h3><center>PAY BALANCE</center> </h3>
    <h6><center>YOUR BALANCE: £{{ request.user.wallet_balance }}</center> </h6>
    <h6><center>AMOUNT OWED: £{{ request.user.amount_owed }}</center> </h6>

    {% if msg %}

        <a><center>{{ msg }}</center></a>

    {% endif %}
    <div class="container">
        {{ form }}
  </div>

  <div class="container" align="center" >
    <br>
    <button type="submit" id ="topup" class="waves-effect waves-light btn">confirm
    </button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="button" id="cancel" class="cancelbtn waves-effect waves-light btn" onclick="location.href='{% url 'bikeshare:bikeshare-customer' %}'">
      Return</button>

  </div>
</form>

{% endblock %}