
{% block content %}


    <h3>
        <center>Return Bike</center>
    </h3>
    <h6>
        <center>Start Location: {{ order.start_station }}</center>
    </h6>

    <div class="container" align="center">
    <form method="post" action="{% url 'bikeshare:return_bike' order.id %}" enctype=multipart/form-data >
        {% csrf_token %}
            {{ form }}
        <button type="submit" id="returnbike" class="waves-effect waves-light btn">Confirm</button>
    </form>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="button" id="cancel" class="cancelbtn waves-effect waves-light btn"
            onclick="location.href='{% url 'bikeshare:bikeshare-customer' %}'">Return
    </button>
    </div>






{% endblock %}