{% extends 'base.html' %}


{% block content %}

<form method="post" action="{% url 'bikeshare:top-up-submit' %}">
{% csrf_token %}

  <h3><center>TOP UP</center> </h3>
    <h6><center>YOUR BALANCE: {{ request.user.wallet_balance }}</center> </h6>
    {% if success_message %}

    <a><center>{{ success_message }}</center></a>

    {% endif %}
    <br>
    <div class="container">
        {{ form }}
  </div>
  
  <div class="container">
    <label for="card"><b>Card number</b></label>
    <input type="number" placeholder="enter your card number" required>
    <br>
    <label for="code"><b>3digital-code</b></label>
    <input type="number" placeholder="enter your 3digital-code" required>
    
  <div class="container" align="center" >
    <br>
    <button type="submit" id ="topup" class="waves-effect waves-light btn">confirm</button>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="button" id="cancel" class="cancelbtn waves-effect waves-light btn" onclick="location.href='{% url 'bikeshare:bikeshare-customer' %}'">Return</button>

  </div>
</form>
{% endblock  %}